# Multiple Return Values for a function 

It's assumed that you know how to define functions and how to pass arguments and return values from  a function

we can return multiple values from defined functions using a tuple 

a tuple is like a list but it's immutable; we can not change its content once it's created

### Tuple creation and assigning values

it's created usin brackets ()

In [3]:
odd_nums = (1,3,5,7,9)
print (odd_nums)

(1, 3, 5, 7, 9)

we can assign valuse from a tuple to variables as follows:

In [6]:
a , b , c , d , e = odd_nums

print(a)
print(b)
print(c)

1
3
5

we can access an element in the tuple using square brackets [] and assign this element's value to another variable

In [8]:
print(odd_nums[2])

x = odd_nums[3] 

print (x)

5
7

 for a function returning only one value like that:

In [9]:
def addition (x,y,z):
    nums_sum = x + y + z 
    return nums_sum

def product (x,y,z):
    nums_product = x * y * z
    return nums_product
    
    
num_1 = 2 
num_2 = 3 
num_3 = 5 

add= addition(num_1, num_2, num_3)
multiply = product(num_1, num_2, num_3)

print(add)
print(multiply)

10
30

We can build a new function that returns the sum and the product of the numbers, by returning the desired multiple results in a tuple

In [ ]:
def add_mul (x,y,z):
    nums_sum = x + y + z 
    nums_product = x * y * z
    
    results = (nums_sum, nums_product)
    
    return results

results_tuple = add_mul(num_1, num_2, num_3)

print(results_tuple) # print the returned content
print(type(results_tuple))  # check that the returned value is a tuple

#### we can do the same thing with dictionaries in which a function return a dictionary object

In [37]:
def return_dict():
    simple_dict = {
        'ahmed' : 12, 
        'Ali' : 13, 
        'Akram' : 19
    }
    
    return simple_dict

print(return_dict())
print(type(return_dict()))

{'ahmed': 12, 'Ali': 13, 'Akram': 19}
<class 'dict'>

##### That seems to be useful in buliding a simple calculator, but using functions that return multiple values at a time can be very valuable


##### let's see how

we will try to get simple insights from a twitter dataset 

we are trying to get some some insights about languages usid accross the platform

In [14]:
# import pandas 
import pandas as pd 

df = pd.read_csv('D:/MyDrive/DATA SCIENCE/DataCamp/python_toolbox_1/data/tweets.csv')
df.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."
2,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402426236928,...,NaN,NaN,0,False,NaN,"<a href=""http://www.facebook.com/twitter"" rel=...",Njihuni me ZonjÃ«n Trump !!! | Ekskluzive https...,1459294817917,False,"{'utc_offset': 7200, 'profile_image_url_https'..."
3,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402367561730,...,7.149239e+17,7.149239e+17,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",Your an idiot she shouldn't have tried to grab...,1459294817903,False,"{'utc_offset': None, 'profile_image_url_https'..."
4,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...",NaN,0,False,low,NaN,714960402149416960,...,NaN,NaN,0,False,"{'retweeted': False, 'text': 'The anti-America...","<a href=""http://twitter.com/download/iphone"" r...",RT @AlanLohner: The anti-American D.C. elites ...,1459294817851,False,"{'utc_offset': -18000, 'profile_image_url_http..."

In [19]:
# create an empty dictionary 
langs_count = {}

# extract the lang column from the dataframe
lang_col = df['lang']

dict_keys

now we will iterate over each entry in the column and put the output into the dictionary :

* if the language is added befpr in the dictionary then increase its count by one
* if the language hasn't been added befor then add it and set its count to 1

In [23]:
for entry in lang_col:
    if entry in langs_count.keys():
        langs_count[entry] +=1 
    else:
        langs_count[entry] = 1
        
print(langs_count)

{'en': 97, 'et': 1, 'und': 2}

now we can create a function doing the same functionality that takes the data frame, and the column name to count its entries as arguments and returns the desired values just by calling the function

By doing so we can get the advantage of:
* use the same function with multiple inputs just by calling the function in one line of code instead of writing it many times.
* we can create similar functions depending on the function we built just by making some modifications on it. 
* reusing functions built by others that meet our needs.

In [25]:
def count_entries (df,col_name):
    col = df [col_name]
    count_dict = {}
    
    for entry in col:
        if entry in col.keys():
            count_dict[entry] +=1 
        else:
            count_dict[entry] = 1
            
    return count_dict 

result = count_entries(df,'lang')
print(result)

{'en': 1, 'et': 1, 'und': 1}

#### we got the same output taking the advantage of reusing the function many times with various inputs.