# Lambda Functions
* **Python Lambda Functions are anonymous function means that the function is without a name. **
* As we already know that the def keyword is used to define a normal function in Python. 
* Similarly, the lambda keyword is used to define an anonymous function in Python.

### The Syntax 
lambda arguments: expression

* This function can have any number of arguments but only one expression, which is evaluated and returned.
* One is free to use lambda functions wherever function objects are required.
* You need to keep in your knowledge that lambda functions are syntactically restricted to a single expression.
* It has various uses in particular fields of programming besides other types of expressions in functions.

In [12]:
fruit = "apple"
print((lambda fruit : fruit + " & banana"))

<function <lambda> at 0x0000024E36494550>

##### The previous exampel prints the function and the memory location where it's stored, so like other functions to get the value returned we call the function to pass the argument to it as follows :

print(function(argumenr)

function = (lambda fruit : fruit + " & banana")

In [13]:
print ((lambda fruit : fruit + " & banana")(fruit))

apple & banana

 This is  the same as doing the following:

In [14]:
add_banana= (lambda fruit : fruit + " & banana")
print(add_banana(fruit))

apple & banana

#### we can concatenate a string with another by using lambda function

In [7]:
name = "ahmed"

shout = (lambda name : name + "!!!!")

shout(name)

'ahmed!!!!'

* the type of the variable shout is a function as a lambda function is assigned to it 
* the type of the returned value from inside the lambda function is a string

In [11]:
# check the type of the lambda function stored in the variable

print(type(shout))

print(type(shout(name)))

<class 'function'>
<class 'str'>

## Examples where lambda functions are useful

### With List Comprehension

In [17]:
tables = [lambda x=x: x*10 for x in range(1,11)]

for table in tables:
    print(table())  # if u write print(table), a list with functions will be printed

10
20
30
40
50
60
70
80
90
100

### with if else statment

**note that ----> lambda function only takes a single expression**

a function that compares two numbers and returns the greater of them

In [22]:
max_num = lambda x,y : x if x>y else y

result_1 = max_num(5,10)
result_2 = max_num(-3, -15)

print(result_1)
print(result_2)

10
-3

### With Map() function
it can be very useful to use lambda functions within map function

In [23]:
numbers_1 = [2,4,6,8]
numbers_2 = [1,3,5,7]


add_nums = map(lambda a,b : a+b, numbers_1, numbers_2 )

list(add_nums)

[3, 7, 11, 15]

### with reduce() function

In [25]:
from functools import reduce

nums1 = [15,51,51,66,87,98]
nums2 = [1 ,9 ,7 ,5 ,6 ,8]
small_cal = reduce(lambda x,y: 2*x + 3*y, nums1)
small_cal

5760

### with accumulate function

In [26]:
from itertools import accumulate

acc= accumulate(nums1, lambda x,y: 2*x + 3*y)
list(acc)

[15, 183, 519, 1236, 2733, 5760]