# Map() Function

* Instead of using too many loops in your code you can use a map function 
* it returns a map object (an iterator) of the results after applying the passed function of each item on the iterable passed
* map(FUNCTION,Iterable)  the function is applied on each item on the iterable and then a map object is returned 
* returning a map object refering to the memory location in which the values are stored is very useful as this makes it faster to run the code without slowing down, That will be shown in the code :)

##### we can turn each item in the list names to uppercase without using a loop in just one line of code

In [2]:
names = ['ahmed','ali','akram']

upper_names = list(map(str.upper,names))
upper_names

['AHMED', 'ALI', 'AKRAM']

#### we can define a function and pass it to the map() function as follows:

In [5]:
def cube(x):
    return x ** 2 

nums = [2,5,6,8,9,64]

nums_cubed = map(cube, nums)
list(nums_cubed)

[4, 25, 36, 64, 81, 4096]

#### map() function can accept more than one iterable and apply the function on them

In [6]:
numbers_1 = [2,4,6,8]
numbers_2 = [1,3,5,7]

def add(x,y):
    return x+y

add_numbers = map(add, numbers_1, numbers_2)

list(add_numbers)

[3, 7, 11, 15]

#### map() function acceptes anonymous functiond (lambda functions) and apply the function on the iterable

In [10]:
add_numbers = map(lambda x,y : x+y , numbers_1, numbers_2)
list(add_numbers)

[3, 7, 11, 15]

## A comparison between time taken by ordinary loop and a mpa() function to perform a function on a big number of iterations

In [15]:
def square(x):
    return x ** 2

numbers_test = [*range(10000000)]

In [16]:
%%timeit 
for number in numbers_test:
    square(number)

2.5 s ± 18.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [17]:
%%timeit
map(square,numbers_test)

157 ns ± 0.684 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

### don't write dirty code and say python is very sloooow

# filter() function

* The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.
* it returns a filter object with the memory location where the values are stored 
* in most cases filter function is much faster than oedinary loops

we have a list with names of boys, we want to make a list with only names starting in the letter a

In [22]:
boys = ['ahmed', 'kamel', 'shawky', 'ayman', 'ali', 'ibrahim']

def func(boy):
    if boy[0] == 'a':
        return True
    else:
        return False
    
a_boys = filter(func, boys)
list(a_boys)

['ahmed', 'ayman', 'ali']

##### we can use it with lambda function to seperate list with specified constraints 

we have a list of numbers and we have to seperate even numbers from odd ones

In [26]:
odd_even = [1,4,76,86,3,2,756,645,234,765,878,90,24,79,58,67]

even = filter(lambda x: x%2 == 0, odd_even)

odd = filter(lambda x: x%2 !=0, odd_even)

print (list(even))
print (list(odd))

[4, 76, 86, 2, 756, 234, 878, 90, 24, 58]
[1, 3, 645, 765, 79, 67]

## compare time needed by filter with that neede by ordinary loop

In [27]:
def even_test(num):
    if num %2 ==0 :
        return True 
    
test_nums = [*range(10000000)]

In [30]:
%%timeit
even_nums1= []

for number in test_nums:
    if even_test(number):
        even_nums1.append(number)

1.63 s ± 13.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [31]:
%%timeit 
even_nums2 = filter(even_test,test_nums)

145 ns ± 0.679 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

# reduce()

* to use the function we have to import the module functools 
* the functions simply take the 1st and the 2nd element in the iterable and apply the passed function on them 
* it uses the result from the previous opration with the 3rd element and apply the function on it, and so on 
* it can perform any function on the iterable you pass

In [36]:
from functools import reduce

Numbers = [1,3,5,8,9,5,5,4]
def add_nums(a,b):
    return a+b

summation = reduce(add_nums,Numbers)
print(summation)

40

to show what happened in details:

In [37]:
(((((((1+3)+5)+8)+9)+5)+5)+4)

40

##### we can use lambda fuction within reduce function as follows:

In [43]:
nums1 = [15,51,51,66,87,98]
nums2 = [1 ,9 ,7 ,5 ,6 ,8]
small_cal = reduce(lambda x,y: 2*x + 3*y, nums1)
small_cal

5760

####     reduce() function with three parameters
Reduce function i.e. reduce() function works with 3 parameters in python3 as well as for 2 parameters. To put it in a simple way reduce() places the 3rd parameter before the value of the second one, if it’s present. Thus, it means that if the 2nd argument is an empty sequence, then 3rd argument serves as the default one.

### difference between reduce function and accumulate function
* reduce() is defined in “functools” module, accumulate() in “itertools” module.
* reduce() stores the intermediate result and only returns the final summation value. 
* accumulate() returns a iterator containing the intermediate results. The last number of the iterator returned is summation value of the list.
* reduce(fun,seq) takes function as 1st and sequence as 2nd argument.
* In contrast accumulate(seq,fun) takes sequence as 1st argument and function as 2nd argument.

In [48]:
from itertools import accumulate

acc= accumulate(nums1, lambda x,y: 2*x + 3*y)
list(acc)

[15, 183, 519, 1236, 2733, 5760]